extends layout.pug

block content 
    h1= title
    script.
        console.log(!{infoSecurity})
        console.log(!{threatManagement})
        console.log(!{infoSharing})
        console.log(!{training})
        console.log(!{businessContinuity})
