extends layout.pug

block content 
    h1= title
    table
        tr 
            td Weeks
            th Vulnerabilities
            th Technology
            th Impact
            th Training
    script.
        console.log(!{infoSecurity})
        console.log(!{threatManagement})
        console.log(!{infoSharing})
        console.log(!{training})
        console.log(!{businessContinuity})

        function isLocal() {
            return true;
        }

        loadXML(myModel);

        // controller settings
        var simulatorController = null;
        var index = 0;

        // making the simulation run one week at a time
        setPauseInterval(1);

        // find primitive values
        var infoSecurityPrimitive = findName("Information Security Investment");
        var threatManagementPrimitive = findName("Threat and Vulnerability management investment");
        var infoSharingPrimitive = findName("Information sharing investment");
        var trainingPrimitive = findName("Training investment");
        var businessContinuityPrimitive = findName("Business continuity management investment");

        // set primitive values
        setValue(infoSecurityPrimitive, !{infoSecurity});
        setValue(threatManagementPrimitive, !{threatManagement});
        setValue(infoSharingPrimitive, !{infoSharing});
        setValue(trainingPrimitive, !{training});
        setValue(businessContinuityPrimitive, !{businessContinuity});

        // run model
        var res = runModel(true);

        var table = document.getElementsByTagName("table")[0];
        

        for(var i = 0; i < res.periods; i++) {

            var weeks = document.createElement("td");
            weeks.innerHTML = res.times[i];

            var Vulnerabilities = document.createElement("td");
            Vulnerabilities.innerHTML = res.value(findName("Discovered Vulnerabilities"))[i];

            var Technology = document.createElement("td");
            Technology.innerHTML = res.value(findName("Technology"))[i];

            var Impact = document.createElement("td");
            Impact.innerHTML = res.value(findName("Impact"))[i];

            var Training = document.createElement("td");
            Training.innerHTML = res.value(findName("Training"))[i];


            var row = document.createElement("tr");
            row.appendChild(weeks);
            row.appendChild(Vulnerabilities);
            row.appendChild(Technology);
            row.appendChild(Impact);
            row.appendChild(Training);
            table.appendChild(row);

        }
		
	   




		



