extends layout.pug

block content 
    h1= title
    table
        tr 
            td Weeks
            th Vulnerabilities
            th Technology
            th Impact
            th Training
    script(src="./models/model.js", type="text/javascript")
    script(src="./insightmaker/js/Localization.js", type="text/javascript")
    script(src="./insightmaker/js/Variables.js", type="text/javascript")
    script(src="./insightmaker/js/Utilities.js", type="text/javascript")
    script(src="./insightmaker/js/API/API.js", type="text/javascript")
    script(src="./insightmaker/js/mxShim.js", type="text/javascript")
    script(src="./insightmaker/js/Sanitize.js", type="text/javascript")
    script(src="./insightmaker/js/Updater.js", type="text/javascript")
    script(src="./insightmaker/tests/ModelTests.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/OO.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/unitsStructure.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/SimpleCalc.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/units.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/antlr3-all-min.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/output/FormulaLexer.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/output/FormulaParser.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/rand.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/random.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/formula.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/calc/functions.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/Functions.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/Classes.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/Primitives.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/TaskScheduler.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/Simulator.js", type="text/javascript")
    script(src="./insightmaker/js/SimulationEngine/Modeler.js", type="text/javascript")
    script(src="./insightmaker/resources/RedBlackNode.js", type="text/javascript")
    script(src="./insightmaker/resources/RedBlackTree.js", type="text/javascript")
    script(src="./insightmaker/resources/graph.js", type="text/javascript")
    script.
        console.log(!{infoSecurity})
        console.log(!{threatManagement})
        console.log(!{infoSharing})
        console.log(!{training})
        console.log(!{businessContinuity})

        function isLocal() {
            return true;
        }

        loadXML(myModel);

        // find primitive values
        var infoSecurityPrimitive = findName("Information Security Investment");
        var threatManagementPrimitive = findName("Threat and Vulnerability management investment");
        var infoSharingPrimitive = findName("Information sharing investment");
        var trainingPrimitive = findName("Training investment");
        var businessContinuityPrimitive = findName("Business continuity management investment");

        // set primitive values
        setValue(infoSecurityPrimitive, !{infoSecurity});
        setValue(threatManagementPrimitive, !{threatManagement});
        setValue(infoSharingPrimitive, !{infoSharing});
        setValue(trainingPrimitive, !{training});
        setValue(businessContinuityPrimitive, !{businessContinuity});

        // run model
        var res = runModel(true);

        var table = document.getElementsByTagName("table")[0];
        

        for(var i = 0; i < res.periods; i++) {

            var weeks = document.createElement("td");
            weeks.innerHTML = res.times[i];

            var Vulnerabilities = document.createElement("td");
            Vulnerabilities.innerHTML = res.value(findName("Discovered Vulnerabilities"))[i];

            var Technology = document.createElement("td");
            Technology.innerHTML = res.value(findName("Technology"))[i];

            var Impact = document.createElement("td");
            Impact.innerHTML = res.value(findName("Impact"))[i];

            var Training = document.createElement("td");
            Training.innerHTML = res.value(findName("Training"))[i];


            var row = document.createElement("tr");
            row.appendChild(weeks);
            row.appendChild(Vulnerabilities);
            row.appendChild(Technology);
            row.appendChild(Impact);
            row.appendChild(Training);
            table.appendChild(row);

        }
		
	   




		



